@import 'vars/colors.scss';
@import 'layout/typography.scss';

body {
    background-color: $color-white;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $color-blue;
    color: $color-white;
}
.home{
    margin: 25px;
    &__logo{
        width: 200px;
    }
}
.trips-list{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    overflow: auto;
    flex-grow: 1;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 0;
    color: $color-white;
    li{
        a{
            display: block;
        }
        &:first-child{
            padding-left: 0px;
        }
        padding: 0px 20px;
        list-style-type: none;
    }
    
}
.trip{
    margin-bottom: 200px;
}
.avatar{
    width: 30px;
    height: 30px;
}
// hide horizontal scrollbar
::-webkit-scrollbar{
    display:none
}