<header>
  <div>
    <a href="/">
      <img src="/images/logo.svg" alt="logo" />
    </a>
  </div>
  <% if (user) { %>
  <a><img class="avatar" src="/images/<%= user.image %>" /></a>
  <% } %>
</header>
