<div class="trip container">
  <div>
    <img />
  </div>
  <section>
    <h2>Barcelona</h2>
    <p>Date</p>
    <span>price</span>
    <span>per person</span>
    <form action="add-booking.js" method="post">
      <label>Select date:</label>
      <!-- loop -->
      <radio-button></radio-button>
      <label>Bagage:</label>
      <radio-button></radio-button>
      <input type="submit" value="Book now" />
    </form>
  </section>
</div>
