<%- include('head.ejs') %> <%- include('header.ejs') %>
<div class="confirmed container">
  <div>
    <img />
  </div>
  <section>
    <h2>Barcelona</h2>
    <p>Date</p>
    <ul>
      <!-- loop -->
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <!-- last item after loop -->
      <li>54 +</li>
    </ul>
    <h2>Confirmed</h2>
    <p>We have sent you an email at bahaa@hva.nl</p>
    <p>Thank you for booking with us!</p>
    <img />
  </section>
</div>
