<%- include('head.ejs') %>
<body>
    <div class="home container">
        <section>
            <h2>Explore the World</h2>
            <a href="/"></a>
        </section>
       
        <div>
            <ul>
                <li><img src="/images/lisbon.jpg"/></li>
                <li><img src="/images/bali.jpg"/></li>
            </ul>
        </div>
    </div>
</body>