<%- include('head.ejs') %>
<body>
  <div class="home container">
    <section>
      <h2>Explore the World</h2>
      <a href="/"></a>
    </section>
    <div>
      <ul class="home__trips">
        <% for (let trip of trips) { %> <% if (trip.image) { %>
        <li>
          <img src="/images/<%= trip.image %>" />
        </li>
        <% } else { %>
        <span>No image available</span>
        <% } %> <% } %>
      </ul>
    </div>
  </div>
</body>
