<%- include('head.ejs') %> <%- include('header.ejs') %>
<body>
  <div class="home container">
    <section>
      <img src="/images/logo.svg" alt="logo" class="home__logo" />
      <p>making group travel cool!</p>
      <h2>Adventure Awaits, Student Style!</h2>
      <a href="/trips">explore now</a>
    </section>
    <div>
      <ul class="trips-list">
        <% for (let trip of trips) { %> <% if (trip.image) { %>
        <li>
          <img src="/images/<%= trip.image %>" />
        </li>
        <% } else { %>
        <span>No image available</span>
        <% } %> <% } %>
      </ul>
    </div>
  </div>
</body>
