<%- include('head.ejs') %>
<h1>Homepage</h1>
<div class="home container">
    <section>
        <h2>Explore the World</h2>
        <a href="/"></a>
    </section>
   
    <div>
        <ul>
            <li><img /></li>
        </ul>
    </div>
</div>