<%- include('partials/header.ejs') %>
<div class="trips container">
  <!-- <div class="background-overlay"></div> -->
  <section class="trips__heading-container">
    <h1 class="slide-in-left">trips</h1>
  </section>
  <div class="trips__container">
    <ul class="trips-list">
      <% for (let trip of trips) { %> <% if (trip.images[0]) { %>
      <li class="trip-item">
        <a href="/trips/<%= trip.slug %>">
          <div class="trip-image-container">
            <img src="<%= trip.images[0] %>" />
          </div>
          <div class="trip-title-container">
            <h3 class="title"><%= trip.destination %></h3>
          </div>
        </a>
      </li>
      <% } else { %>
      <span>No image available</span>
      <% } %> <% } %>
    </ul>
  </div>
</div>
