<header>
    <div>
        <nav>
            <a>icon</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/trips">Trips</a></li>
            </ul>
        </nav>
        <a><img />Profile</a>
    </div>
</header>
<div class="trips container">
    <h1>Explore trips</h1>
    <div>
        <ul>
            <li><img /></li>
        </ul>
    </div>
</div>