<div class="trips container">
  <!-- <div class="background-overlay"></div> -->
  <section class="trips__heading-container">
    <h1 class="slide-in-left">trips</h1>
  </section>
  <div class="trips__container">
    <ul class="trips-list">
      <% for (let trip of trips) { %> <% if (trip.image) { %>
      <li class="trip-item">
        <a href="/trips/<%= trip.slug %>">
          <img src="/images/<%= trip.image %>" />
          <h3 class="title"><%= trip.destination %></h3>
        </a>
      </li>
      <% } else { %>
      <span>No image available</span>
      <% } %> <% } %>
    </ul>
  </div>
  <!-- <h2>Add a Trip</h2>
  <form method="POST" action="/trips" enctype="multipart/form-data">
    <label for="destination">Destination:</label>
    <input type="text" id="destination" name="destination" required />

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" required />

    <button type="submit">Add Trip</button>
  </form> -->
</div>
